li {
  list-style-type: none;
  padding: 10px;
}

li span.fa {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 30px;
  margin-right: 10px;
}

.wrapper {
  background: url(../images/me.jpg);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.box {
  background: rgba(0, 0, 0, 0.5);
  width: 600px;
  height: 500px;
  border-radius: 10px;
  float: right;
  margin-top: 50px;
  margin-right: 50px;
  padding: 20px;
  color: #eeeeee;
  font-size: 120%;
}

.box h1 {
  font-family: 'Playfair Display SC', serif;
}

.box {
  font-family: Arial;
}

.webmuses {
  color: #1cbcaf;
  text-decoration: none;
  background: black;
  padding: 2px;
  border-radius: 5px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  color: #eeeeee;
  border-top-right-radius: 10px;
  font-family: Arial;
}

.social a {
  width: 64px;
  height: 64px;
  display: inline-block;
  -webkit-filter: brightness(75%);
}

.social a:hover {
  -webkit-filter: brightness(100%);
}
